.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-style: normal;
  text-align: center;

  > a {
    flex-basis: 100%;
    color: white;
    font-size: 1.2rem;
    padding-block: 15vh;
    text-decoration: none;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: underline;
      text-decoration-color: dodgerblue;
      text-underline-offset: 4px;
      text-decoration-thickness: 1px;
    }

    &:active {
      color: dodgerblue;
    }
  }
}

@media (min-width: 38rem) {
  .contact > a {
    padding-block: 0;
  }
}
