.resume {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  max-width: 44rem;
  margin: auto;
  place-items: center;
}

.resume > header {
  text-align: center;
  margin-bottom: 2rem;

  > h1 {
    padding-top: 3rem;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.75rem;
  }

  > h2 {
    padding-bottom: 3rem;
    font-size: 1.5rem;
  }
}

.resume > section {
  > h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  > ul {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    > li {
      flex-basis: 100%;
    }
  }

  + section {
    margin-top: 2rem;
  }
}

.about-me {
  text-align: center;
}

.education {
  max-width: 30em;

  > ul {
    gap: 1rem;

    > li {
      padding-inline: 1rem;
      border-left: 1px solid white;

      h4 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1rem;
        font-weight: 800;
        letter-spacing: 1px;
      }

      p {
        font-size: 0.8em;
        letter-spacing: 1px;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 400;

        &:hover {
          color: dodgerblue;
          text-decoration: underline;
          text-decoration-color: dodgerblue;
          text-underline-offset: 4px;
        }
      }
    }
  }
}

.languages {
  max-width: 30em;

  > ul {
    list-style-type: disc;
    margin-inline: 1rem;
    gap: 0.25rem;
  }
}

@media (min-width: 38rem) {
  .resume {
    gap: 1rem;
    flex-direction: row;

    > section {
      flex: 1;
    }

    > header {
      flex-basis: 100%;
      border: 0;
      margin: 0;
    }

    > .about-me {
      flex-basis: 100%;
    }

    > section + section {
      margin: 0;
    }
  }
}
